## python work sheet 2
- name -> chirag taneja
- group -> 2W13(RAI)
- roll_no -> 102323072

1. L is a list defined as L= [11, 12, 13, 14].

In [13]:
L = [11,12,13,14]

a) WAP to add 50 and 60 to L.

In [14]:
L.append(50)
L.append(60)
L

[11, 12, 13, 14, 50, 60]

b) WAP to remove 11 and 13 from L.

In [15]:
L.remove(11)
L.remove(13)
L

[12, 14, 50, 60]

c) WAP to sort L in ascending order.

In [16]:
L.sort()
print(L)

[12, 14, 50, 60]

d) WAP to sort L in descending order.

In [17]:
L.sort(reverse=True)
print(L)

[60, 50, 14, 12]

e) WAP to search for 13 in L.

In [1]:

iindex = L.index(13)
print("13 is present in L at index", iindex)

NameError: name 'L' is not defined

f) WAP to count the number of elements present in L.

In [19]:
print(len(L))

4

g) WAP to sum all the elements in L.

In [20]:
print(sum(L))

136

h) WAP to sum all ODD numbers in L.

In [23]:
odd_sum = 0
for num in L:
    if num % 2 != 0:
        odd_sum += num
print(odd_sum)

0

i) WAP to sum all EVEN numbers in L.

In [22]:
even_sum = 0
for num in L:
    if num % 2 == 0:
        even_sum += num
print(even_sum)

136

j) WAP to sum all PRIME numbers in L.

In [21]:
prime_sum = 0

for num in L:
    if num > 1:
        is_prime = True
        for i in range(2, num):
            if (num % i) == 0:
                is_prime = False
                break
        if is_prime:
            prime_sum += num

print(prime_sum)

0

k) WAP to clear all the elements in L.

In [ ]:
L.clear()

l) WAP to delete L.

In [ ]:
del L

2. Write a Python program to sum all the items in a list without using any inbuilt function.

In [ ]:
total = 0
for item in L:
    total += item
print(total)

3. Write a Python program to multiply all the items in a list without using any inbuilt function.

In [ ]:
product = 1
for item in L:
    product *= item
print(product)

4. Write a Python program to generate a (3*4*6) 3D array whose each element is *.

In [ ]:
#------doubt-------

5. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.

In [25]:
D = {
    1:5.6,
    2:7.8,
    3:6.6,
    4:8.7,
    5:7.7
}
D

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}

(i) WAP to add new entry in D; key=8 and value is 8.8

In [26]:
D[8] = 8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(ii) WAP to remove key=2.

In [27]:
D.pop(2)
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(iii) WAP to check weather 6 key is present in D.

In [ ]:
key_present = 6 in D
print(key_present)

(iv) WAP to count the number of elements present in D.

In [28]:
count = len(D)
print(count)

5

(v) WAP to add all the values present D.

In [29]:
total = sum(D.values())
print(total)

37.4

(vi) WAP to update the value of 3 to 7.1.

In [30]:
D[3] = 7.1
print(D)

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

(vii) WAP to clear the dictionary.

In [ ]:
D.clear()
print(D)

6. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60]. S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

In [33]:
S1 = {10,20,30,40,50,60}
S2 = {40,50,60,70,80,90}
S1,S2

({10, 20, 30, 40, 50, 60}, {40, 50, 60, 70, 80, 90})

(i) WAP to add 55 and 66 in Set S1.

In [34]:
S1.add(55)
S1.add(66)
print(S1)

{50, 66, 20, 55, 40, 10, 60, 30}

(ii) WAP to remove 10 and 30 from Set S1.

In [39]:
S1.remove(10)
S1.remove(30)
print(S1)

{50, 66, 20, 55, 40, 60}

(iii) WAP to check whether 40 is present in S1.

In [40]:
is_present = 40 in S1
print(is_present)

True

(iv) WAP to find the union between S1 and S2.

In [41]:
union_set = S1.union(S2)
print(union_set)

{66, 70, 40, 80, 50, 20, 55, 90, 60}

(v) WAP to find the intersection between S1 and S2.

In [42]:
intersection_set = S1.intersection(S2)
print(intersection_set)

{40, 50, 60}

(vi) WAP to find the S1-S2.

In [43]:
S1_S2 = S1 - S2
print(S1_S2)

{66, 20, 55}

7. Write the following program.

(i) WAP to print 100 random strings whose length between 6 and 8.

In [ ]:
#-------doubt----------

(ii) WAP to print all prime numbers between 600 and 800.

In [44]:
prime_numbers = []

for num in range(600, 801):
    if num > 1:
        is_prime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            prime_numbers.append(num)

print(prime_numbers)

[601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797]

(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [51]:
divisible_numbers = []

for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        divisible_numbers.append(num)

print(divisible_numbers)

[126, 189, 252, 315, 378, 441, 504, 567, 630, 693, 756, 819, 882, 945]

8. Write a Python program to display the examination schedule. (extract the date from exam_st_date). exam_st_date = (11, 12, 2014)

In [45]:
exam_st_date = (11, 12, 2014)
day, month, year = exam_st_date

print("The examination is scheduled on:")
print("Date: ", day)
print("Month: ", month)
print("Year: ", year)

The examination is scheduled on:
Date:  11
Month:  12
Year:  2014

9. Iterate the given list of numbers and print only those numbers which are divisible by 5.

In [47]:
L1 = [1,2,3,34,30,60,70,80,10,22,44]
for num in L1:
    if num % 5 == 0:
        print(num)

30
60
70
80
10

10. Write a Python program to check if a given number is even or odd using boolean variables.

In [48]:
# Given number
num = 25

is_even = num % 2 == 0

if is_even:
    print(f"{num} is even")
else:
    print(f"{num} is odd")

25 is odd

11. Write a program to find how many times substring “Emma” appears in the given string.

In [49]:
string = "Emma is a great student. Emma is very intelligent."
substring = "Emma"

count = string.count(substring)
print(count)

2

12. Create a new list from two list using the following condition, Given two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [50]:
# Given lists
list1 = [60, 50, 14, 12]
list2 = [1, 2, 3, 34, 30, 60, 70, 80, 10, 22, 44]

new_list = []

for num in list1:
    if num % 2 != 0:
        new_list.append(num)

for num in list2:
    if num % 2 == 0:
        new_list.append(num)

print(new_list)

[2, 34, 30, 60, 70, 80, 10, 22, 44]