## python work sheet 7A
- name -> chirag taneja
- group -> 2W13(RAI)
- roll_no -> 102323072

### Question 1: Pandas Basics

#### 1.1 Importing Pandas
Write the command to import the Pandas library and check its version.

#### 1.2 Creating a DataFrame
Create a simple DataFrame using the following data:

| Name    | Age | City         |
|---------|-----|--------------|  
| Alice   | 25  | New York     |
| Bob     | 30  | Los Angeles  |
| Charlie | 35  | Chicago      |

Print the DataFrame.

In [1]:
import pandas as pd
print(pd.__version__)

# 1.2 Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

2.2.2
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

### Question 2: Pandas Series

#### 2.1 Creating a Series
Create a Pandas Series from the list [100, 200, 300, 400, 500].
Print the Series.

#### 2.2 Accessing Elements in a Series
From the Series created in Question 2.1, access the second and fourth elements and print them.

#### 2.3 Series Operations
Create a second Series S2 with values [10, 20, 30, 40, 50].
Perform element-wise addition between the two Series (S1 from 2.1 and S2) and print the result.

In [2]:
# 2.1 Creating a Series
S1 = pd.Series([100, 200, 300, 400, 500])
print(S1)

# 2.2 Accessing Elements in a Series
print(S1[1], S1[3])

# 2.3 Series Operations
S2 = pd.Series([10, 20, 30, 40, 50])
result = S1 + S2
print(result)

0    100
1    200
2    300
3    400
4    500
dtype: int64
200 400
0    110
1    220
2    330
3    440
4    550
dtype: int64

### Question 3: DataFrame Basics

#### 3.1 DataFrame Column Access
Using the DataFrame created in Question 1.2, print only the 'Name' and 'City' columns.

#### 3.2 Adding a New Column
Add a new column Salary to the DataFrame in Question 1.2 with the following values: [50000, 60000, 70000].
Print the updated DataFrame.

#### 3.3 Basic Statistics on DataFrames
Using the updated DataFrame, calculate and print:
- The average Age
- The total sum of Salary

In [3]:
# 3.1 DataFrame Column Access
print(df[['Name', 'City']])

# 3.2 Adding a New Column
df['Salary'] = [50000, 60000, 70000]
print(df)

# 3.3 Basic Statistics on DataFrames
print("Average Age:", df['Age'].mean())
print("Total Salary:", df['Salary'].sum())

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago
      Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000
Average Age: 30.0
Total Salary: 180000

### Question 4: Filtering and Indexing

#### 4.1 Conditional Filtering
Filter the DataFrame from Question 3.2 to display rows where the Age is greater than 28.
Print the filtered DataFrame.

#### 4.2 Setting and Resetting Index
Set the Name column as the index of the DataFrame and print the updated DataFrame.
Then reset the index to the default and print the DataFrame again.

In [4]:
# 4.1 Conditional Filtering
filtered_df = df[df['Age'] > 28]
print(filtered_df)

# 4.2 Setting and Resetting Index
df_indexed = df.set_index('Name')
print(df_indexed)

df_reset = df_indexed.reset_index()
print(df_reset)

      Name  Age         City  Salary
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000
         Age         City  Salary
Name
Alice     25     New York   50000
Bob       30  Los Angeles   60000
Charlie   35      Chicago   70000
      Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000

### Question 5: Working with CSV Data

#### 5.1 Reading a CSV File
Assume you have a CSV file called employees.csv with the following content:

```
Name, Department, Salary
John, Sales, 50000
Jane, Marketing, 60000
Emily, HR, 55000
```

Write the code to read this CSV file into a Pandas DataFrame and print the contents of the DataFrame.

#### 5.2 CSV Data Manipulation
From the DataFrame created in 5.1, perform the following tasks:
- Filter the rows where the Salary is greater than 55000.
- Print only the Name and Department columns for the filtered rows.

In [5]:
# Question 5: Working with CSV Data

# 5.1 Creating and Exporting a CSV File


# Create a DataFrame
employees_data = {
    'Name': ['John', 'Jane', 'Emily'],
    'Department': ['Sales', 'Marketing', 'HR'],
    'Salary': [50000, 60000, 55000]
}
df_employees = pd.DataFrame(employees_data)

# Export the DataFrame to a CSV file
df_employees.to_csv('employees.csv', index=False)
print("CSV file 'employees.csv' has been created.")

# 5.1 (continued) Reading the CSV File
df_employees_read = pd.read_csv('employees.csv')
print("Contents of the CSV file:")
print(df_employees_read)

# 5.2 CSV Data Manipulation
filtered_employees = df_employees_read[df_employees_read['Salary'] > 55000]
print("\nEmployees with Salary > 55000:")
print(filtered_employees[['Name', 'Department']])

CSV file 'employees.csv' has been created.
Contents of the CSV file:
    Name Department  Salary
0   John      Sales   50000
1   Jane  Marketing   60000
2  Emily         HR   55000

Employees with Salary > 55000:
   Name Department
1  Jane  Marketing

### Question 6: Grouping and Aggregation

#### 6.1 Grouping by Department
Using the DataFrame created in Question 5.1, group the data by the Department column and calculate the average Salary for each department. Print the result.

#### 6.2 Aggregation
For the same DataFrame, find the minimum and maximum Salary for each Department.

In [6]:
# 6.1 Grouping by Department
avg_salary_by_dept = df_employees.groupby('Department')['Salary'].mean()
print(avg_salary_by_dept)

# 6.2 Aggregation
salary_stats_by_dept = df_employees.groupby('Department')['Salary'].agg(['min', 'max'])
print(salary_stats_by_dept)

Department
HR           55000.0
Marketing    60000.0
Sales        50000.0
Name: Salary, dtype: float64
              min    max
Department
HR          55000  55000
Marketing   60000  60000
Sales       50000  50000

### Question 7: Merging DataFrames

#### 7.1 Merging Two DataFrames
You are given two DataFrames:

```python
df1 = pd.DataFrame({
    'Name': ['John', 'Jane', 'Emily'],
    'Department': ['Sales', 'Marketing', 'HR']
})

df2 = pd.DataFrame({
    'Name': ['John', 'Jane', 'Emily'],
    'Experience (Years)': [5, 7, 3]
})
```

Write the code to merge these two DataFrames on the Name column.
Print the merged DataFrame.

In [7]:
# 7.1 Merging Two DataFrames
df1 = pd.DataFrame({
    'Name': ['John', 'Jane', 'Emily'],
    'Department': ['Sales', 'Marketing', 'HR']
})

df2 = pd.DataFrame({
    'Name': ['John', 'Jane', 'Emily'],
    'Experience (Years)': [5, 7, 3]
})

merged_df = pd.merge(df1, df2, on='Name')
print(merged_df)

    Name Department  Experience (Years)
0   John      Sales                   5
1   Jane  Marketing                   7
2  Emily         HR                   3

### Question 8: Sorting

#### 8.1 Sorting Data
Sort the DataFrame from Question 7.1 based on the Experience (Years) column in descending order.
Print the sorted DataFrame.

In [8]:

# 8.1 Sorting Data
sorted_df = merged_df.sort_values(by='Experience (Years)', ascending=False)
print(sorted_df)

    Name Department  Experience (Years)
1   Jane  Marketing                   7
0   John      Sales                   5
2  Emily         HR                   3